* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.primary-background {
  background-color: #D5E1EF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  max-width: 320px;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.main-text {
  color: #1F314F;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
}

.secondary-text {
  color: #68778D;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
}
